<h1>Crie seu Personagem</h1>

<form action="processar.php" method="post">

    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>

    <label for="raca">Raça:</label>
    <select id="raca" name="raca" required>
        <option value="humano">Humano</option>
        <option value="elfo">Elfo</option>
        <option value="anao">Anão</option>
        <option value="halfling">Halfling</option>
        </select>

    <label for="classe">Classe:</label>
    <select id="classe" name="classe" required>
        <option value="guerreiro">Guerreiro</option>
        <option value="mago">Mago</option>
        <option value="ladino">Ladino</option>
        <option value="clérigo">Clérigo</option>
        </select>

    <h2>Atributos</h2>
    <div class="atributos">
        <label for="forca">Força:</label>
        <input type="number" id="forca" name="forca" min="1" max="20" required>

        <label for="destreza">Destreza:</label>
        <input type="number" id="destreza" name="destreza" min="1" max="20" required>

        <label for="constituicao">Constituição:</label>
        <input type="number" id="constituicao" name="constituicao" min="1" max="20" required>

        <label for="inteligencia">Inteligência:</label>
        <input type="number" id="inteligencia" name="inteligencia" min="1" max="20" required>

        <label for="sabedoria">Sabedoria:</label>
        <input type="number" id="sabedoria" name="sabedoria" min="1" max="20" required>

        <label for="carisma">Carisma:</label>
        <input type="number" id="carisma" name="carisma" min="1" max="20" required>
    </div>

    <h2>Histórico e Alinhamento</h2>
    <textarea id="historia" name="historia" rows="5" cols="50" placeholder="Conte a história do seu personagem"></textarea>

    <label for="alinhamento">Alinhamento:</label>
    <select id="alinhamento" name="alinhamento" required>
        <option value="lawful_good">Leal e Bom</option>
        <option value="neutral_good">Neutro e Bom</option>
        <option value="chaotic_good">Caótico e Bom</option>
        <option value="lawful_neutral">Leal e Neutro</option>
        <option value="true_neutral">Neutro Puro</option>
        <option value="chaotic_neutral">Caótico e Neutro</option>
        <option value="lawful_evil">Leal e Mal</option>
        <option value="neutral_evil">Neutro e Mal</option>
        <option value="chaotic_evil">Caótico e Mal</option>
    </select>

    <button type="submit">Criar Personagem</button>
</form>